@media(min-width: 768px) {

    .news-input {
        width: 50%;
    }

}


.card {
    border:0 !important;
}

.btn-white {
    background: #242323;
    color: white;
    border: 0 !important;
}


.btn-white:hover {
    background: #0d6efd;
    color:white;
}

.bg-blue-primary {
    background: rgb(13,110,253);
background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(4,43,99,1) 100%);
}


.bg-dark {
    background:#242323;
}

.bg-white-float {
    background: #fafafa;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0, 0.25);
    
}
.txt-blue-primary {
    color:#0d6efd;
}

.txt-dark {
    color:#242323;
}


.bg-whitesmoke {
    background: #fafafa;
}

body::before {
    display:block;
    content:'';
    height: 60px;
}
.chevron-link {
    position:relative; 
    width: 150px;
}
.chevron {
    position: absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    
}

